.col {
    text-align: center;
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
}


.col .cover, .col .ant-card, .col .ant-card-body img {
    height: 250px;
    width: 250px;
    margin-right: 20px;
}

.col .ant-card-body {
    height: 100%;
    padding: 0;
    width: 250px;
}

.part {
    position: relative;
}

.text {
    position: absolute;
    bottom: -125px;
    background: white;
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    /*opacity: 0;*/
}

.text .title {
    position: absolute;
    top: 8px;
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-bottom: 8px;
}